{% extends 'main/base.html' %}
{% load staticfiles %}
{% block middle_page_2 %}{% endblock %}
{% block hero_body %}theme-hero-area-body-vert-center{% endblock %}
{% block footer %}{% endblock %}
{% block content_1 %}
<div class="container">
  <div class="theme-page-404 _ta-c">
    <h1 class="theme-page-404-title">404</h1>
    <p class="theme-page-404-subtitle">Sorry, we could not find that page</p>
    <a class="btn btn-ghost btn-xxl btn-white btn-uc" href="/">To Homepage</a>
  </div>
</div>

{% endblock %}
