{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Travel Mate - Index 10</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"/>
    <link rel="stylesheet" href= {% static "css/font-awesome.css" %}>
    <link rel="stylesheet" href= {% static "css/lineicons.css" %}>
    <link rel="stylesheet" href= {% static "css/weather-icons.css"%}>
    <link rel="stylesheet" href= {% static "css/bootstrap.css"%}>
    <link rel="stylesheet" href= {% static "css/styles.css"%}>
  </head>
  <body>

    <!-- Top Navbar -->
    <nav class="navbar navbar-default navbar-inverse navbar-theme navbar-theme-abs avbar-theme-border" id="main-nav" style="position: fixed">
      <div class="container">
        <div class="navbar-inner nav">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="#navbar-main" data-toggle="collapse" type="button" area-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img src="http://www.clker.com/cliparts/D/7/H/F/m/L/house-outline-hi.png" alt="Image Alternative text" title="Image Title"/>
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav">
              <li class="dropdown"> <a class="dropdown-toggle" href="/dashboard">Dashboard</a> </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  {% if not user.is_authenticated %}
                      <li class="dropdown"> <a class="dropdown-toggle" href="/login"> Login </a></li>
                      <li class="dropdown"> <a class="dropdown-toggle" href="/register"> Register </a></li>
                  {% else %}
                      <li class="dropdown"> <a class="dropdown-toggle" href="/logout">Logout</a></li>
                  {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <! -- Middle of the page -->
    <div class="_pos-r">
      <div class="theme-hero-area _h-desk-120vh">
        <div class="theme-hero-area-bg-wrap">
            <div class="theme-hero-area-bg" style="background-image:url({%static "img/1500x800.png" %});"></div>
          <div class="theme-hero-area-mask theme-hero-area-mask-half"></div>
          <div class="theme-hero-area-inner-shadow"></div>
        </div>
        <div class="theme-hero-area-body">
          {% block content_1 %}
          {% endblock %}
        </div>
      </div>
    </div>

    <script src={% static "js/jquery.js"%}></script>
    <script src={% static "js/bootstrap.js"%}></script>
    <script src={% static "js/owl-carousel.js"%}></script>
    <script src={% static "js/bs-datepicker.js"%}></script>
    <script src={% static "js/typeahead.js"%}></script>
    <script src={% static "js/custom.js"%}></script>
    <script src={% static "js/jquery.js"%}>></script>
    <script src={% static "js/moment.js"%}></script>
    <script src={% static "js/bootstrap.js"%}></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYeBBmgAkyAN_QKjAVOiP_kWZ_eQdadeI&callback=initMap&libraries=places"></script>
    <script src={% static "js/owl-carousel.js"%}></script>
    <script src={% static "js/blur-area.js"%}></script>
    <script src={% static "js/icheck.js"%}></script>
    <script src={% static "js/gmap.js"%}></script>
    <script src={% static "js/magnific-popup.js"%}></script>
    <script src={% static "js/ion-range-slider.js"%}></script>
    <script src={% static "js/sticky-kit.js"%}></script>
    <script src={% static "js/smooth-scroll.js"%}></script>
    <script src={% static "js/fotorama.js"%}></script>
    <script src={% static "js/bs-datepicker.js"%}></script>
    <script src={% static "js/typeahead.js"%}></script>
    <script src={% static "js/quantity-selector.js"%}></script>
    <script src={% static "js/countdown.js"%}></script>
    <script src={% static "js/window-scroll-action.js"%}></script>
    <script src={% static "js/fitvid.js"%}></script>
    <script src={% static "js/youtube-bg.js"%}></script>
    <script src={% static "js/custom.js"%}></script>
