{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content_1 %}


    <link rel="stylesheet" type="text/css" href="{% static 'backup/css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backup/css/listing_booking.css' %}">
    <script type="text/javascript" src="{% static 'backup/js/dashboard.js' %}"></script>
    <p> Dashboard </p>

    <button class="tablink" onclick="openPage('property-list-page', this, 'black')">Property Listing</button>
    <button class="tablink" onclick="openPage('bookings-page', this, 'grey')">Bookings</button>
    <button class="tablink" onclick="window.location='/create_property'">Add Property</button>

    <!-- Page for Listed Property for others to accommodate --!>
    <div id="property-list-page" class="tabcontent">

        <div class='property-row'>

            {% for property in properties %}

                <div class='property-column'>
                    <div class='property-card'>

                        <!-- img src="img1.jpg" alt="Jane" style="width:100%" -->
                        <div class='property-row-container'>
                            <h2> {{property.location.num}} {{property.location.address}} </h2>
                            <p> longitude: {{property.location.longitude}} </p>
                            <p> latitude: {{property.location.latitude}} </p>
                            <!-- property description -->
                            <form action="dashboard/delete-property/{{property.id}}" method='POST'>
                                {% csrf_token %}
                                <button class='delete-property-btn' type='submit'> Delete </button> 
                            </form>
                            <form action="#" method='GET'>
                                <button class='delete-property-btn' type='submit'> Edit </button> 
                            </form>
                        </div>

                
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>


    <!-- Page for booked, bookings -->
    <div id="bookings-page" class="tabcontent">

        <div class='booking-row'>

            {% for booking in bookings %}

                <div class='booking-column'>
                    <div class='booking-card'>

                        <!-- img src="img1.jpg" alt="Jane" style="width:100%" -->
                        <div class='booking-row-container'>
                            <h2> {{booking.property.location.address}} </h2>
                            <p> Check in: {{booking.start_date.date}} </p>
                            <p> Check out: {{booking.end_date.date}} </p>
                        <form action="dashboard/delete-booking/{{booking.id}}" method='POST'>
                            {% csrf_token %}
                            <button class='delete-booking-btn' type='submit'> delete </button>
                        </form>
                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}
