{% extends 'main/base.html' %}
{% load staticfiles %}
{% block middle_page_2 %}{% endblock %}
{% block content_1 %}
<link rel="stylesheet" type="text/css" href="{% static 'backup/css/dashboard.css' %}">
<script type="text/javascript" src="{% static 'backup/js/dashboard.js' %}"></script>

<div class="theme-page-section theme-page-section=dark theme-page-section-lg"> 
  <br>
  <div class="container">
    <div class="row row-col static" id="sticky-parent" data-gutter="20">
        <button class="tablink" onclick="openPage('property-list-page', this, 'grey')">Property Listing</button>
        <button class="tablink" onclick="openPage('bookings-page', this, 'grey')">Bookings</button>
        <button class="tablink" onclick="window.location='/create_property'">Add Property</button>

        <!-- Page for Listed Property for others to accommodate --!>
        <div style="background-color: grey" id="property-list-page" class="tabcontent">
            {% for property in properties %}
            <div class="theme-search-results-item _mb-10 _b-n theme-search-results-item-rounded theme-search-results-item-">
              <div class="theme-search-results-item-preview">

                <div class="row" data-gutter="20">
                  <div class="col-md-5 ">
                    <div class="theme-search-results-item-img-wrap">
                      <!-- image here do image slide show thing -->
                      {% if property.1.image.url %}
                      <img class="theme-search-results-item-img" src="{{property.1.image.url}}" style="width: 300px; height: 150px"/>
                      {% endif %}
                    </div>
                  </div>

                  <div class="col-md-5 ">
                    <h5 class="theme-search-results-item-title _fw-b _mb-20 _fs theme-search-results-item-title-lg">{{property.0.location.num}} {{property.0.location.address}}</h5>
                    <p class="theme-search-results-item-hotel-book-count">Booked: {{property.0.time_booked}}</p>
                  </div>

                  <div class="col-md-2 ">
                    <div class="theme-search-results-item-book">
                      <div class="theme-search-results-item-price">
                        <p class="theme-search-results-item-price-tag">${{property.0.price}}</p>
                        <p class="theme-search-results-item-price-sign">/night</p>
                      </div>

                      <form action="dashboard/delete-property/{{property.0.id}}" method='POST'>
                          {% csrf_token %}
                          <button class="btn btn-primary-inverse btn-block theme-search-results-item-price-btn" type='submit'>Delete</button>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>


        <!-- Page for booked, bookings -->
        <div style="background-color: grey" id="bookings-page" class="tabcontent">

              <div class="theme-search-results">
                <div class="_mob-h">
                  {% for booking in bookings %}
                  <div class="theme-search-results-item _mb-10 _b-n theme-search-results-item-rounded theme-search-results-item-">
                    <div class="theme-search-results-item-preview">
                      <a class="theme-search-results-item-mask-link" onclick="window.open('/moreinfo/{{property.0.id}}')" role="button"></a>
                      <a class="theme-search-results-item-bookmark theme-search-results-item-bookmark-top" href="#">
                        <i class="fa fa-bookmark"></i>
                        <span>Watch</span>
                      </a>

                      <div class="row" data-gutter="20">
                        <div class="col-md-5 ">
                          <div class="theme-search-results-item-img-wrap">
                            {% if booking.1.image %}
                            <img class="theme-search-results-item-img" src="{{booking.1.image.url}}" alt="Image Alternative text" title="Image Title"/>
                            {% endif %}
                          </div>
                        </div>

                        <div class="col-md-5 ">
                          <ul class="theme-search-results-item-hotel-stars">
                            <li>
                              <i class="fa fa-star"></i>
                            </li>
                            <li>
                              <i class="fa fa-star"></i>
                            </li>
                            <li>
                              <i class="fa fa-star"></i>
                            </li>
                            <li>
                              <i class="fa fa-star"></i>
                            </li>
                          </ul>

                          <h5 class="theme-search-results-item-title _fw-b _mb-20 _fs theme-search-results-item-title-lg">{{booking.0.property.location.num}} {{booking.0.property.location.address}}</h5>
                          <div class="theme-search-results-item-hotel-rating">
                            <p class="theme-search-results-item-hotel-rating-title">
                              <b>8.5 Excellent</b>&nbsp;(8903 reviews)
                            </p>
                          </div>
                          <p class="theme-search-results-item-hotel-book-count">Booked: {{booking.0.property.time_booked}}</p>
                        </div>

                        <div class="col-md-2 ">
                          <div class="theme-search-results-item-book">
                            <div class="theme-search-results-item-price">
                              <p class="theme-search-results-item-price-tag">${{booking.0.property.price}}</p>
                              <p class="theme-search-results-item-price-sign">/night</p>
                            </div>

                            <!-- turn to cancel -->
                            <form action="dashboard/delete-booking/{{booking.0.id}}" method='POST' >
                                {% csrf_token %}
                               <button class="btn btn-primary-inverse btn-block theme-search-results-item-price-btn" type='submit'> Cancel </button>
                            </form>
                            <br>
                            <button class="btn primary-inverse btn-block btn-primary" href="/give-review/{{property.0.id}}">Give Review</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
