{% extends 'main/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block middle_page_2 %}{% endblock %}

{% block content_1 %}

<div class="theme-page-section _pt-100 theme-page-section-xl">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <div class="theme-login theme-login-white">
          <div class="theme-login-header">
            <h2 class="theme-login-title">Give Property Your Review</h2>
          </div>
          <div class="theme-login-box" style="height: 700px; width: 800px">
            <div class="theme-login-box-inner">
              <form class="theme-login-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {% render_field form.review class="form-control" placeholder="Write your review on this property" %}
                </div>
                <div class="form-group">
                    <h5>{%render_field form.cleanliness.field.label %}</h5>
                    {% render_field form.cleanliness class="form-control" %}
                </div>
                <div class="form-group">
                    <h5>{%render_field form.communication.field.label %}</h5>
                    {% render_field form.communication class="form-control" %}
                </div>
                <div class="form-group">
                    <h5>{%render_field form.value.field.label %}</h5>
                    {% render_field form.value class="form-control" %}
                </div>
                <div class="form-group">
                    <h5>{%render_field form.location.field.label %}</h5>
                    {% render_field form.location class="form-control" %}
                </div>
                <div class="form-group">
                    <h5>{%render_field form.rating.field.label %}</h5>
                    {% render_field form.rating class="form-control" %}
                </div>
                <button type="submit" class="btn btn-uc btn-dark btn-block btn-lg">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
