{% extends 'main/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block middle_page%}{% endblock %}

{% block content_2 %}
<div class="theme-page-section" style="background-color: white">
  <div class="container">
    <div class="row row-col-static" id="sticky-parent" data-gutter="60">
      <div class="col-md-8 ">
        <div class="theme-search-area _desk-h _mb-30 theme-search-area-vert">
          <div class="theme-search-area-header _mb-20 theme-search-area-header-sm">
            <h1 class="theme-search-area-title">Book Event</h1>
            <p class="theme-search-area-subtitle">Arcu risus malesuada penatibus a</p>
          </div>
        </div>
        <div class="theme-item-page-tabs _mb-desk-30">
          <div class="tabbable">
            <ul class="nav nav-tabs nav-default nav-sqr" role="tablist">
              <li class="active" role="presentation">
                <a aria-controls="HotelPageTabs-1" role="tab" data-toggle="tab" href="#HotelPageTabs-1">Overview</a>
              </li>
              <li role="presentation">
                <a aria-controls="HotelPageTabs-2" role="tab" data-toggle="tab" href="#HotelPageTabs-2">Map</a>
              </li>
              <li role="presentation">
                <a aria-controls="HotelPageTabs-3" role="tab" data-toggle="tab" href="#HotelPageTabs-3">Reviews</a>
              </li>
            </ul>
            <div class="tab-content _pt-30">
              <div class="tab-pane active" id="HotelPageTabs-1" role="tab-panel">
                <div class="theme-item-page-overview">
                  <div class="row row-col-mob-gap">
                    <div class="col-md-6 ">
                      <div class="row magnific-gallery row-col-gap" data-gutter="10">

                        {% for img in images %}
                        <div class="col-xs-3 ">
                          <div class="banner banner-sqr banner-">
                              <div class="banner-bg" style="background-image:url({{ img.image.url }});"></div>
                            <a class="banner-link" href="{{ img.image.url }}"></a>
                          </div>
                        </div>
                        {% endfor %}

                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="theme-item-page-desc">
                        <p>{{property.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="HotelPageTabs-2" role="tab-panel">
                <script src={% static "js/googlemap.js"%}></script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmpqPu7DWaGqcqOIujMncyb9YCWV7a4ds&callback=initMap"> </script>
                <div id="map" data-lat={{property.location.latitude}} data-lng={{property.location.longitude}} style="height: 500px; width: 100%;"><p>Refresh to load map</p></div>
              </div>
              <div class="tab-pane" id="HotelPageTabs-3" role="tab-panel">
                <div class="theme-reviews">
                  <div class="theme-reviews-list">
                    {% for review in reviews %}
                    <article class="theme-reviews-item">
                      <div class="row" data-gutter="10">
                        <div class="col-md-3 ">
                          <div class="theme-reviews-item-info">
                            <img class="theme-reviews-item-avatar" src="./img/70x70.png" alt="Image Alternative text" title="Image Title"/>
                            <p class="theme-reviews-item-date">Reviewed Tue, Jun 26</p>
                            <p class="theme-reviews-item-author">by Ava McDonald</p>
                          </div>
                        </div>
                        <div class="col-md-9 ">
                          <div class="theme-reviews-rating">
                            <ul class="theme-reviews-rating-stars">
                              {% for i in review.range_rating %}
                              <li>
                                <i class="fa fa-star"></i>
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                          <div class="theme-reviews-item-body">
                            <p class="theme-reviews-item-text">{{review.review}}</p>
                          </div>
                        </div>
                      </div>
                    </article>
                    {% endfor %}
                    <div class="row">
                      <div class="col-md-9 col-md-offset-3">
                        <a class="theme-reviews-more" href="#">&#x2b; More Reviews</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="sticky-col _mob-h">
          <div class="theme-search-area theme-search-area-vert">
            <div class="theme-search-area-header _mb-20 theme-search-area-header-sm">
              <h1 class="theme-search-area-title">Book Event</h1>
              <p class="theme-search-area-subtitle">Consectetur magnis facilisis donec metus</p>
            </div>

            <div class="theme-search-results-sidebar-map-view _mb-10 theme-search-results-sidebar-map-view-primary">
              <a class="theme-search-results-sidebar-map-view-link" href="http://maps.google.com/maps?z=12&t=m&q=loc:{{property.location.latitude}}+{{property.location.longitude}}"></a>
              <div class="theme-search-results-sidebar-map-view-body">
                <i class="fa fa-map-marker theme-search-results-sidebar-map-view-icon"></i>
                <p class="theme-search-results-sidebar-map-view-sign">Official Google Maps</p>
              </div>
              <div class="theme-search-results-sidebar-map-view-mask"></div>
            </div>

            <form action="/make-booking/{{property.id}}/{{start_date.year}}/{{start_date.month}}/{{start_date.day}}/{{end_date.year}}/{{end_date.month}}/{{end_date.day}}" method='POST' >
                {% csrf_token %}
                <div class="theme-search-area-form" >
                  <button class="theme-search-area-submit _mt-0 _tt-uc theme-search-area-submit-curved">Book Now</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
