{% extends 'main/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block middle_page%}{% endblock %}

{% block content_2 %}
<div class="theme-page-section" style="background-color: white; min-height:430px;">
  <div class="container">
    <div class="row row-col-static" id="sticky-parent" data-gutter="60">
      <div class="col-md-8 ">
        <div class="theme-search-area _desk-h _mb-30 theme-search-area-vert">
          <div class="theme-search-area-header _mb-20 theme-search-area-header-sm">
          </div>
        </div>
        <div class="theme-item-page-tabs _mb-desk-30">
          <div class="tabbable">
            <ul class="nav nav-tabs nav-default nav-sqr" role="tablist">
              <li class="active" role="presentation">
                <a aria-controls="HotelPageTabs-1" role="tab" data-toggle="tab" href="#HotelPageTabs-1">Overview</a>
              </li>
              <li role="presentation">
                <a aria-controls="HotelPageTabs-2" role="tab" data-toggle="tab" href="#HotelPageTabs-2">Map</a>
              </li>
              <li role="presentation">
                <a aria-controls="HotelPageTabs-3" role="tab" data-toggle="tab" href="#HotelPageTabs-3">Reviews</a>
              </li>
            </ul>
            <div class="tab-content _pt-30">
              <div class="tab-pane active" id="HotelPageTabs-1" role="tab-panel">
                <div class="theme-item-page-overview">
                  <div class="row row-col-mob-gap">
                    <div class="col-md-6 ">
                      <div class="row magnific-gallery row-col-gap" data-gutter="10">

                        {% for img in images %}
                        <div class="col-xs-3 ">
                          <div class="banner banner-sqr banner-">
                              <div class="banner-bg" style="background-image:url({{ img.image.url }});"></div>
                            <a class="banner-link" href="{{ img.image.url }}"></a>
                          </div>
                        </div>
                        {% endfor %}

                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="theme-item-page-desc">
                        <p>{{property.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="HotelPageTabs-2" role="tab-panel">
                <script src={% static "js/googlemap.js"%}></script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmpqPu7DWaGqcqOIujMncyb9YCWV7a4ds&callback=initMap"> </script>
                <div id="map" data-lat={{property.location.latitude}} data-lng={{property.location.longitude}} style="height: 500px; width: 100%;"><p>Refresh to load map</p></div>
              </div>
              <div class="tab-pane" id="HotelPageTabs-3" role="tab-panel">
                <div class="theme-reviews">
                  <div class="theme-reviews-list">
                      <div class="row">
                      <div class="col-md-9 ">
                        <div class="theme-reviews-score-list">
                          <div class="row">
                            <div class="col-md-6 ">
                              <div class="theme-reviews-score-item">
                                <div class="theme-reviews-score-item-header">
                                  <p class="theme-reviews-score-item-title">Cleanliness</p>
                                </div>
                                <div class="theme-reviews-score-item-bar">
                                <div style="width:{{property.avg_cleanliness}}%;"></div>
                                </div>
                              </div>
                              <div class="theme-reviews-score-item">
                                <div class="theme-reviews-score-item-header">
                                  <p class="theme-reviews-score-item-title">Communication</p>
                                </div>
                                <div class="theme-reviews-score-item-bar">
                                  <div style="width:{{property.avg_communication}}%;"></div>
                                </div>
                              </div>
                              <div class="theme-reviews-score-item">
                                <div class="theme-reviews-score-item-header">
                                  <p class="theme-reviews-score-item-title">Value</p>
                                </div>
                                <div class="theme-reviews-score-item-bar">
                                  <div style="width:{{property.avg_value}}%;"></div>
                                </div>
                              </div>
                              <div class="theme-reviews-score-item">
                                <div class="theme-reviews-score-item-header">
                                  <p class="theme-reviews-score-item-title">Location</p>
                                </div>
                                <div class="theme-reviews-score-item-bar">
                                  <div style="width:{{property.avg_location}}%;"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    <div class="outer" id="page" data-n=29>
                      {% for review in reviews %}
                      <div class="inner">
                        <article class="theme-reviews-item">
                          <div class="row" data-gutter="10">
                            <div class="col-md-3 ">
                              <div class="theme-reviews-item-info">
                                <img class="theme-reviews-item-avatar" src="./img/70x70.png" alt="Image Alternative text" title="Image Title"/>
                                <p class="theme-reviews-item-date">Reviewed {{review.date}}</p>
                                <p class="theme-reviews-item-author">by {{property.dashboard.user.username}}</p>
                              </div>
                            </div>
                            <div class="col-md-9 ">
                              <div class="theme-reviews-rating">
                                <ul class="theme-reviews-rating-stars">
                                  {% for i in review.range_rating %}
                                  <li>
                                    <i class="fa fa-star"></i>
                                  </li>
                                  {% endfor %}
                                </ul>
                              </div>
                              <div class="theme-reviews-item-body">
                                <p class="theme-reviews-item-text">{{review.review}}</p>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>
                      {% endfor %}
                    </div>
                    <div class="row">
                      <div class="col-md-9 col-md-offset-3">
                        <a id="showMore" class="theme-reviews-more" href="#">&#x2b; More Reviews</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="sticky-col _mob-h">
          <div class="theme-search-area theme-search-area-vert">
            <div class="theme-search-area-header _mb-20 theme-search-area-header-sm">
              <div class="theme-item-page-header _mt-0">
              <div class="theme-item-page-header-body">
                <div class="theme-item-page-header-rating">
                  <ul class="theme-item-page-header-rating-stars">
                    {% for r in property.range_avg_rating %}
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    {% endfor %}
                  </ul>
                  <p class="theme-item-page-header-rating-title">{{property.num_of_reviews}} reviews</p>
                </div>
                <h1 class="theme-item-page-header-title theme-item-page-header-title-xs">{{property.location.num}} {{property.location.street}}, {{property.location.suburb}}, {{property.location.post_code}}, NSW</h1>
              </div>
            </div>
            </div>

            <div class="theme-search-results-sidebar-map-view _mb-10 theme-search-results-sidebar-map-view-primary">
              <a class="theme-search-results-sidebar-map-view-link" href="http://maps.google.com/maps?z=12&t=m&q=loc:{{property.location.latitude}}+{{property.location.longitude}}"></a>
              <div class="theme-search-results-sidebar-map-view-body">
                <i class="fa fa-map-marker theme-search-results-sidebar-map-view-icon"></i>
                <p class="theme-search-results-sidebar-map-view-sign">Official Google Maps</p>
              </div>
              <div class="theme-search-results-sidebar-map-view-mask"></div>
            </div>
            
            <div class="sticky-col _pt-20 _mob-h" style="">
              <div class="theme-search-area theme-search-area-vert">
                <div class="theme-search-area-form">
                  {% if which == 's' %}
                  <div class="theme-search-area-section theme-search-area-section-sm">
                    <div class="theme-search-area-section-inner">
                      <i class="theme-search-area-section-icon lin lin-calendar"></i>
                      <input class="theme-search-area-section-input" value="{{start_date}}" type="text">
                    </div>
                  </div>
                  <div class="theme-search-area-section theme-search-area-section-sm">
                    <div class="theme-search-area-section-inner">
                      <i class="theme-search-area-section-icon lin lin-calendar"></i>
                      <input class="theme-search-area-section-input" value="{{end_date}}" type="text">
                    </div>
                  </div>
                 {% elif which == 'b' %}
                  <div class="theme-search-area-section theme-search-area-section-sm">
                    <div class="theme-search-area-section-inner">
                      <i class="theme-search-area-section-icon lin lin-calendar"></i>
                      <input class="theme-search-area-section-input" value="{{booking.start_date}}" type="text">
                    </div>
                  </div>
                  <div class="theme-search-area-section theme-search-area-section-sm">
                    <div class="theme-search-area-section-inner">
                      <i class="theme-search-area-section-icon lin lin-calendar"></i>
                      <input class="theme-search-area-section-input" value="{{booking.end_date}}" type="text">
                    </div>
                  </div>
                 {% endif %}
                  <div class="theme-search-area-section theme-search-area-section-sm quantity-selector">
                    <div class="theme-search-area-section-inner">
                      <i class="theme-search-area-section-icon lin lin-people"></i>
                      <input class="theme-search-area-section-input" value="{{property.num_guests}} Guests" type="text">
                    </div>
                  </div>
                  <div class="theme-search-area-section theme-search-area-section-sm quantity-selector">
                    <div class="theme-search-area-section-inner">
                      <i class="theme-search-area-section-icon lin lin-people"></i>
                      <input class="theme-search-area-section-input" value="{{property.num_rooms}} Rooms" type="text">
                    </div>
                  </div>
                  <div class="theme-item-page-summary-price _mb-20">
                    {% if which == 's' or which == 'b' %}
                    <p class="theme-item-page-summary-price-total">Total
                      <span>${{property.price}}</span>
                    </p>
                    {% else %}
                    <p class="theme-item-page-summary-price-total">Price 
                      <span>${{property.price}}</span><span></span>
                    </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <!-- Booking, Remove Listing, Cancel -->
            {% if which == 's' %}
            <form action="/make-booking/{{property.id}}/{{start_date.year}}/{{start_date.month}}/{{start_date.day}}/{{end_date.year}}/{{end_date.month}}/{{end_date.day}}" method='POST' >
                {% csrf_token %}
                <div class="theme-search-area-form" >
                  <button class="theme-search-area-submit _mt-0 _tt-uc theme-search-area-submit-curved">Book Now</button>
                </div>
            </form>
            {% elif which == 'p' %}
            <form action="/dashboard/delete-property/{{property.id}}" method='POST' >
                {% csrf_token %}
                <div class="theme-search-area-form" >
                  <button class="theme-search-area-submit _mt-0 _tt-uc theme-search-area-submit-curved">Remove Listing</button>
                </div>
            </form>
            {% elif which == 'b' %}
            <form action="dashboard/delete-booking/{{booking.id}}" method='POST' >
                {% csrf_token %}
                <div class="theme-search-area-form" >
                  <button class="theme-search-area-submit _mt-0 _tt-uc theme-search-area-submit-curved">Cancel</button>
                </div>
            </form>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src={% static "createdTools/js/pagination.js" %}></script>
{% endblock %}
