{% extends 'main/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block middle_page_2 %}{% endblock %}
{% block content_1 %}
<div class="theme-page-section _pt-100 theme-page-section-xl">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <div class="theme-login theme-login-white">
          <div class="theme-login-header">
            <h1 class="theme-login-title">List a Home</h1>
          </div>

          <div class="theme-add-property-box" style="height: 1150px;">
            <div class="theme-login-box-inner">
              <form class="theme-login-form" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <!-- Property Type-->
                <div class="form-group theme-login-form-group">
                    <h4>Property Type</h4><hr>
                    {% render_field form.apartment %}
                    <label> Apartment </label>
                    {% render_field form.hotel %}
                    <label> Hotel </label>
                    {% render_field form.house %}
                    <label> House </label>
                    {% render_field form.resort %}
                    <label> Resort </label>
                    {% render_field form.townhouse %}
                    <label> Townhouse </label>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group theme-login-form-group">
                      <label>Unit/Number</label>
                      {% render_field form.num class="form-control" placeholder="Number/Unit" %}
                    </div>
                  </div>
                  <div class="col-md-9">   
                    <div class="form-group theme-login-form-group">
                      <label>Street</label>
                      {% render_field form.street class="form-control" placeholder="Street" %}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group theme-login-form-group">
                      <label>Suburb</label>
                      {% render_field form.suburb class="form-control" placeholder="Suburb" %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group theme-login-form-group">
                      <label>Post Code</label>
                      {% render_field form.post_code class="form-control" placeholder="Post Code" %}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group theme-login-form-group">
                      <label>Number of Guests </label>
                      {% render_field form.num_guests class="form-control" placeholder="Guests" %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group theme-login-form-group">
                      <label>Number of Rooms</label>
                      {% render_field form.num_rooms class="form-control" placeholder="Rooms" %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group theme-login-form-group">
                      <label> Price per Night</label>
                      {% render_field form.price class="form-control" placeholder="Price" %}
                    </div>
                  </div>
                </div>



                <div class="form-group">
                    <label> Description</label>
                    {% render_field form.description class="form-control" placeholder="Description" %}
                </div>
                
                <!-- Facility Filtering -->
                <div class="form-group theme-login-form-group">
                    <h4>Facilities</h4><hr>
                    {% render_field form.free_parking %}
                    <label> Free parking </label>
                    {% render_field form.pool %}
                    <label> Pool </label>
                    {% render_field form.gym %}
                    <label> Gym </label>
                    {% render_field form.spa %}
                    <label> Spa </label>
                </div>

                <!-- Disability Access -->
                <div class="form-group theme-login-form-group">
                    <h4>Disability Access</h4><hr>
                    {% render_field form.ramp %}
                    <label> Ramp </label>
                    {% render_field form.travelator %}
                    <label> Travelator </label>
                    {% render_field form.elevator %}
                    <label> Elevator </label>
                </div>

                <div class="form-group theme-login-form-group">
                    <h4>Amenities</h4><hr>
                    {% render_field form.tv%}
                    <label> TV </label>
                    {% render_field form.airconditioning%}
                    <label> Air Conditioning </label>
                    {% render_field form.bathroom%}
                    <label> Bathroom </label>
                    {% render_field form.kitchen%}
                    <label> Kitchen </label>
                    {% render_field form.wifi%}
                    <label> Wifi</label>
                    {% render_field form.laundry%}
                    <label> Laundry</label>
                </div>

                {% render_field form.image %}
                <br>
                <button type="submit" class="btn btn-uc btn-dark btn-block btn-lg">Add Property</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
