{% extends 'main/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block middle_page_2 %}{% endblock %}
{% block content_1 %}
<div class="theme-page-section _pt-100 theme-page-section-xl">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="theme-login theme-login-white">
          <div class="theme-login-header">
            <h1 class="theme-login-title">List a Home</h1>
          </div>

          <div class="theme-login-box">
            <div class="theme-login-box-inner">
              <form class="theme-login-form" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <!-- Property Type-->
                <div class="form-group theme-login-form-group">
                    <label> Apartment </label>
                    {% render_field property_type_form.apartment %}
                    <label> Hotel </label>
                    {% render_field property_type_form.hotel %}
                    <label> House </label>
                    {% render_field property_type_form.house %}
                    <label> Resort </label>
                    {% render_field property_type_form.resort %}
                    <label> Townhouse </label>
                    {% render_field property_type_form.townhouse %}
                </div>

                <div class="form-group theme-login-form-group">
                  {% render_field form.num class="form-control" placeholder="Property Number/Unit" %}
                </div>

                <div class="form-group theme-login-form-group">
                  {% render_field form.street class="form-control" placeholder="Street" %}
                </div>

                <div class="form-group theme-login-form-group">
                  {% render_field form.post_code class="form-control" placeholder="Post Code" %}
                </div>

                <div class="form-group theme-login-form-group">
                  {% render_field form.suburb class="form-control" placeholder="Suburb" %}
                </div>

                <div class="form-group theme-login-form-group">
                  {% render_field form.price class="form-control" placeholder="Price" %}
                </div>

                <div class="form-group theme-login-form-group">
                  {% render_field form.num_guests class="form-control" placeholder="Guests" %}
                </div>

                <div class="form-group theme-login-form-group">
                  {% render_field form.num_rooms class="form-control" placeholder="Rooms" %}
                </div>

                <div class="form-group">
                    {% render_field form.description class="form-control" placeholder="Description" %}
                </div>
                
                <!-- Facility Filtering -->
                <div class="form-group theme-login-form-group">
                    <label> Free parking </label>
                    {% render_field form.free_parking %}
                    <label> Pool </label>
                    {% render_field form.pool %}
                    <label> Gym </label>
                    {% render_field form.gym %}
                    <label> Spa </label>
                    {% render_field form.spa %}
                </div>

                <!-- Disability Access -->
                <div class="form-group theme-login-form-group">
                    <label> Ramp </label>
                    {% render_field form.ramp %}
                    <label> Travelator </label>
                    {% render_field form.travelator %}
                    <label> Elevator </label>
                    {% render_field form.elevator %}
                </div>

                <div class="form-group theme-login-form-group">
                    <label> Ramp </label>
                    {% render_field form.tv%}
                    <label> Travelator </label>
                    {% render_field form.airconditioning%}
                    <label> Elevator </label>
                    {% render_field form.bathroom%}
                    <label> Elevator </label>
                    {% render_field form.kitchen%}
                </div>

                {% render_field form.image %}
                <br>
                <button type="submit" class="btn btn-uc btn-dark btn-block btn-lg">Add Property</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
