{% extends 'main/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block middle_page %}{% endblock %}

{% block content_3 %}
<h1 class="theme-search-area-title theme-search-area-title-sm">Results: {{searched_property|length}} </h1>
{% endblock %}

{% block content_2 %}
<div class="theme-page-section theme-page-section-dark theme-page-section-lg">
  <div class="container">
    <div class="row row-col-static" id="sticky-parent" data-gutter="20">

      <form method="POST">
      {% csrf_token %}
      <div class="col-md-3 ">
        <div class="sticky-col _mob-h">
          <div class="theme-search-results-sidebar">
            <div class="theme-search-results-sidebar-sections _mb-20 _br-2 _b-n theme-search-results-sidebar-sections-white-wrap">
              <div class="theme-search-results-sidebar-section">
                <div class="theme-search-area-section first theme-search-area-section-curved theme-search-area-section-sm theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr">
                  <div class="theme-search-area-section-inner">
                    <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                    {% render_field search_property_form.where class="theme-search-area-section-input typeahead" data-provide="typeahead" %}
                  </div>

                  <div class="theme-search-area-section-inner">
                    <i class="theme-search-area-section-icon lin lin-calendar"></i>
                    {% render_field search_property_form.check_in class="theme-search-area-section-input" %}
                  </div>

                  <div class="theme-search-area-section-inner">
                    <i class="theme-search-area-section-icon lin lin-calendar"></i>
                    {% render_field search_property_form.check_out class="theme-search-area-section-input"%}
                  </div>

                  <div class="theme-search-area-section-inner">
                   <i class="theme-search-area-section-icon lin lin-tag"></i>
                   {% render_field search_property_form.num_rooms class="theme-search-area-section-input" value="2" %}
                   <div class="quantity-selector-box" id="HotelSearchRooms">
                     <div class="quantity-selector-inner">
                       <p class="quantity-selector-title">Rooms</p>
                     </div>
                   </div>

                    
                   <div class="theme-search-area-section theme-search-area-section-curved theme-search-area-section-sm theme-search-area-section-bg-white theme-search-area-section-no-border theme-search-area-section-mr quantity-selector" data-increment="Guests">
                     <div class="theme-search-area-section-inner">
                       <i class="theme-search-area-section-icon lin lin-people"></i>
                       {% render_field search_property_form.num_guests class="theme-search-area-section-input" value="2" %}
                       <div class="quantity-selector-box" id="HotelSearchGuests">
                         <div class="quantity-selector-inner">
                           <p class="quantity-selector-title">Guests</p>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                </div>
              </div>

              <div class="theme-search-results-sidebar-section">
                <h5 class="theme-search-results-sidebar-section-title">Property Type</h5>
                {% for type in property_type_form %}
                <div class="theme-search-results-sidebar-section-checkbox-list">
                  <div class="theme-search-results-sidebar-section-checkbox-list-items">
                    <div class="checkbox theme-search-results-sidebar-section-checkbox-list-item">
                      <label class="icheck-label">
                        {% render_field type class="icheck" %}
                        <span class="icheck-title">{{type.field.label}}</span>
                      </label>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>

              <div class="theme-search-results-sidebar-section">
                <h5 class="theme-search-results-sidebar-section-title">Review Score</h5>
                {% for review in reviews %}
                <div class="theme-search-results-sidebar-section-checkbox-list">
                  <div class="theme-search-results-sidebar-section-checkbox-list-items">
                    <div class="checkbox theme-search-results-sidebar-section-checkbox-list-item">
                      <label class="icheck-label">
                        <input class="icheck" type="checkbox"/>
                        <span class="icheck-title">{{review}}</span>
                      </label>
                      <span class="theme-search-results-sidebar-section-checkbox-list-amount">314</span>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>

              <div class="theme-search-results-sidebar-section">
                <h5 class="theme-search-results-sidebar-section-title">Price</h5>
                <div class="theme-search-results-sidebar-section-price">
                  <input id="price-slider" name="price-slider" data-min="100" data-max="500"/>
                </div>
              </div>


              <div class="theme-search-results-sidebar-section">
                <h5 class="theme-search-results-sidebar-section-title">Disability Access</h5>
                {% for access in disability_access_form %}
                <div class="theme-search-results-sidebar-section-checkbox-list">
                  <div class="theme-search-results-sidebar-section-checkbox-list-items">
                    <div class="checkbox theme-search-results-sidebar-section-checkbox-list-item">
                      <label class="icheck-label">
                        {% render_field access class="icheck" %}
                        <span class="icheck-title">{{access.field.label}}</span>
                      </label>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>

              <div class="theme-search-results-sidebar-section">
                <h5 class="theme-search-results-sidebar-section-title">Facilities</h5>
                {% for facility in filter_facilities %}
                <div class="theme-search-results-sidebar-section-checkbox-list">
                  <div class="theme-search-results-sidebar-section-checkbox-list-items">
                    <div class="checkbox theme-search-results-sidebar-section-checkbox-list-item">
                      <label class="icheck-label">
                        {% render_field facility class="icheck" %}
                        <span class="icheck-title">{{facility.field.label}}</span>
                      </label>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>


              <div class="theme-search-results-sidebar-section">
                <h5 class="theme-search-results-sidebar-section-title">Amenities</h5>
                {% for amenity in amenities_form %}
                <div class="theme-search-results-sidebar-section-checkbox-list">
                  <div class="theme-search-results-sidebar-section-checkbox-list-items">
                    <div class="checkbox theme-search-results-sidebar-section-checkbox-list-item">
                      <label class="icheck-label">
                        {% render_field amenity class="icheck" %}
                        <span class="icheck-title">{{amenity.field.label}}</span>
                      </label>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>

            </div>
          </div>
          <button type="submit" class="theme-search-area-submit _mt-0 theme-search-area-submit-curved theme-search-area-submit-sm theme-search-area-submit-no-border">Filter</button>
        </div>
      </div>
      </form>

      <div class="col-md-6-5 ">
        <div class="theme-search-results">
          <div class="_mob-h">
            {% for property in searched_property %}
            <div class="theme-search-results-item _mb-10 _b-n theme-search-results-item-rounded theme-search-results-item-">
              <div class="theme-search-results-item-preview">
                <a class="theme-search-results-item-mask-link" onclick="window.open('/moreinfo/s/{{property.0.id}}/{{start_date.year}}/{{start_date.month}}/{{start_date.day}}/{{end_date.year}}/{{end_date.month}}/{{end_date.day}}')" role="button"></a>
                <a class="theme-search-results-item-bookmark theme-search-results-item-bookmark-top" href="#">
                  <i class="fa fa-bookmark"></i>
                  <span>Watch</span>
                </a>

                <div class="row" data-gutter="20">
                  <div class="col-md-5 ">
                    <div class="theme-search-results-item-img-wrap">
                      {% if property.1.image.url%}
                      <img class="theme-search-results-item-img" src="{{property.1.image.url}}" alt="Image Alternative text" title="Image Title"/>
                      {% endif %}
                    </div>
                  </div>

                  <div class="col-md-5 ">
                    <ul class="theme-search-results-item-hotel-stars">
                      {% for n in property.0.range_avg_rating %}
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      {% endfor %}
                    </ul>

                    <h5 class="theme-search-results-item-title _fw-b _mb-20 _fs theme-search-results-item-title-lg">{{property.0.location.num}} {{property.0.location.address}}</h5>
                    <div class="theme-search-results-item-hotel-rating">
                      <p class="theme-search-results-item-hotel-rating-title">
                      <b>{{property.0.execellent_rating}} Excellent</b>&nbsp;({{property.0.times_reviewed}} reviews)
                      </p>
                    </div>
                    <p class="theme-search-results-item-hotel-book-count">Booked: {{property.0.time_booked}}</p>
                  </div>

                  <div class="col-md-2 ">
                    <div class="theme-search-results-item-book">
                      <div class="theme-search-results-item-price">
                        <p class="theme-search-results-item-price-tag">${{property.0.price}}</p>
                        <p class="theme-search-results-item-price-sign">/night</p>
                      </div>

                      <form action="make-booking/{{property.0.id}}/{{start_date.year}}/{{start_date.month}}/{{start_date.day}}/{{end_date.year}}/{{end_date.month}}/{{end_date.day}}" method='POST' >
                          {% csrf_token %}
                         <button class="btn btn-primary-inverse btn-block theme-search-results-item-price-btn" type='submit'> Book Now</button>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>

        <!-- pagination -->
        <a class="btn _tt-uc _fs-sm btn-white btn-block btn-lg" href="#">Load More Results</a>

      </div>
    </div>
  </div>
</div>

{% endblock %}
