{% extends 'main/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block middle_page_2 %}{% endblock %}
{% block content_1 %}
<div class="theme-hero-area-body">
<div class="theme-page-section _pt-100 theme-page-section-xl">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="theme-login theme-login-white">
          <div class="theme-login-header">
            <h1 class="theme-login-title">Sign Up</h1>
            <p class="theme-login-subtitle">Create new Bookify account</p>
          </div>

          <div class="theme-login-box">
            <div class="theme-login-box-inner">
              <form class="theme-login-form" method="POST">
                {% csrf_token %}

                <div class="form-group theme-login-form-group">
                  <label> Email </label>
                  {% render_field form.email class="form-control" placeholder="Enter Your Email" %}
                </div>
                <p> {{ form.email.errors }} </p>

                <label> First Name</label>
                <div class="form-group theme-login-form-group">
                  {% render_field form.first_name class="form-control" placeholder="Enter Your First Name" %}
                </div>
                <p> {{ form.first_name.errors }} </p>

                <label> Last Name</label>
                <div class="form-group theme-login-form-group">
                  {% render_field form.last_name class="form-control" placeholder="Enter Your Last Name" %}
                </div>
                <p> {{ form.last_name.errors }} </p>

                <label> Username </label>
                <div class="form-group theme-login-form-group">
                  {% render_field form.username class="form-control" placeholder="Enter Your Username" %}
                </div>
                <p> {{ form.username.errors }} </p>

                <label> Password </label>
                <div class="form-group theme-login-form-group">
                  {% render_field form.password1 class="form-control" placeholder="Create Password" %}
                </div>
                <p> {{ form.password1.errors }} </p>

                <label> Repeat Password </label>
                <div class="form-group theme-login-form-group">
                  {% render_field form.password2 class="form-control" placeholder="Repeat Password" %}
                </div>
                <p class="theme-login-subtitle"> {{ form.password2.errors }} </p>
                <button type="submit" class="btn btn-uc btn-dark btn-block btn-lg">Create Account</button>
              </form>
            </div>

            <div class="theme-login-box-alt">
              <p>Already have an account? &nbsp;
                <a href="/login">Sign in.</a>
              </p>
            </div>
          </div>
          <p class="theme-login-terms">By signing up you accept our
            <a href="#">terms of use</a>
            <br/>and
            <a href="#">privacy policy</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src={% static "js/jquery.js" %}></script>
<script src={% static "js/moment.js" %}></script>
<script src={% static "js/bootstrap.js" %}></script>
<script async defer src={%static "https://maps.googleapis.com/maps/api/js?key=AIzaSyDYeBBmgAkyAN_QKjAVOiP_kWZ_eQdadeI&callback=initMap&libraries=places" %}></script>
<script src={% static "js/owl-carousel.js" %}></script>
<script src={% static "js/blur-area.js" %}></script>
<script src={% static "js/icheck.js"%}></script>
<script src={% static "js/gmap.js" %}></script>
<script src={% static "js/magnific-popup.js" %}></script>
<script src={% static "js/ion-range-slider.js" %}></script>
<script src={% static "js/sticky-kit.js" %}></script>
<script src={% static "js/smooth-scroll.js" %}></script>
<script src={% static "js/fotorama.js" %}></script>
<script src={% static "js/bs-datepicker.js" %}></script>
<script src={% static "js/typeahead.js" %}></script>
<script src={% static "js/quantity-selector.js" %}></script>
<script src={% static "js/countdown.js" %}></script>
<script src={% static "js/window-scroll-action.js" %}></script>
<script src={% static "js/fitvid.js" %}></script>
<script src={% static "js/youtube-bg.js" %}></script>
<script src={% static "js/custom.js" %}></script>
{% endblock %}
